/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 700px;
}

.bk-grey, .user, .menu-item {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}





/* settaggi della view */

.speaker-view {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    color: white;
}

.speaker-view .bk-grey {
    float: left;
    display: flex;
    background-color: grey;
    padding: 3px;
    font-size: 15px;
    margin: 3px;
    border-radius: 3px;
}

.speaker-view .view-gril .icon {
    margin-right: 3px;
}





/* webcam utenti */

.webcam-container {
    padding-top: 60px;
    padding-bottom: 15px;
    height: calc(100vh - 55px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.webcam-container .user {
    width: 240px;
    height: 140px;
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    background-size: cover;
    position: relative;
    margin: 5px 2px;
}

.webcam-container .user .user-info {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(140, 140, 140, 0.5);
    color: white;
    font-size: 9px;
    max-width: 80%;
}

.webcam-container .user .user-info .user-microphone {
    margin-right: 2px;
}





/* barra del menu funzioni */

.bottom-menu {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
}

.bottom-menu .section-menu {
    display: flex;
}

.bottom-menu .section-menu .menu-item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: center;
}

.bottom-menu .section-menu .menu-item .item-icon {
    font-size: 15px;
}

.bottom-menu .section-menu .menu-item .item-text {
    font-size: 9px;
    margin: 7px 0;
}

.bottom-menu .section-menu .menu-item .item-arrow {
    font-size: 8px;
    margin: 2px 15px;
}

.bottom-menu .section-menu #share-pull {
    margin-right: 15px;
}

.bottom-menu .section-menu #share-pull .item-icon {
    color: #4BC800;
}

#end-call {
    color: #ff0000;
    background-color: #4A4A4A;
}